<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nautilus CS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nautilus CS</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h3>鹦鹉螺 持续为开发者服务</h3>
    <p>Nautilus Continuous Service</p>
    <div class="logo">
      <ion-img src="assets/icon/favicon.png" class="logo"></ion-img>
    </div>
    <p>支持GitHub代码库</p>
    <p>支持自定义多层次树型事件</p>
    <p>支持自定义数据流</p>
    <p>支持自定义计算/数据转换</p>
    <br>
    <ion-button href="https://github.com/apps/nautilus-cs">开始使用 鹦鹉螺</ion-button>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-text class="ion-text-center" color="medium">
      <p class="copyright-text">版权所有©上海效吉软件有限公司 - 沪ICP备14038906号-1</p>
    </ion-text>
  </ion-toolbar>
</ion-footer>
